body{
  background-color: #bee4af ;
  margin: 0;
  text-align: center;
}
.main{
  margin: auto;
  margin-top: 5vh;
  background-color: #edf5e1;
  border:2px blue solid;
  border-radius: 30px;
  width:30vw;
  min-height: 75vh;
}

.main form{
  margin: auto;
  margin-top: 5vh;
  width:80%;
}

.main form input{
  border: none;
  width:70%;
  border-bottom: 2px solid;
  outline: none;
  background: none;
  padding: 5px 10px;
  margin: 0 10px;
  font-size: large;
}
.main form button{  min-height: 40px;
  border-radius: 50%;
  background-color: greenyellow;
  padding: 5px 15px;
  color:white;
  font-size: 40px;
  border: none;
  outline: none;
  box-shadow: 5px 5px 15px -5px black ;
}

.main ol{
  text-align: left;
  width: 30%;
  margin: 5% 0;
  list-style: none;
  text-transform: capitalize;
}

main ul,li{
  margin:10px 0;
  font-size: larger;
}

main ul,button{
  margin: 0 5px;
  background: none;
  outline: none;
  border:none;
  color: red;
}